@font-face {
    font-family: "UI-font";
    src: url("fonts/Roboto-VariableFont.woff") format("woff");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body{
    background: radial-gradient(#7A1CAC, #2E073F);
    height: 100vh;
    font-size:clamp(1rem,1.4vw,5rem); 
    font-family:"UI-font";
}

/*login stuff*/

#signup-box{
    background-color:rgba(245, 245, 245, 0.83);
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:70vw;
    height:auto;
    border-radius: 20px;
    padding-top:1rem;
    padding-bottom:1rem;
    overflow-y: auto;
    opacity:1;
    transition:1s;
}

.ufo{
    display:block;
    margin-left:auto;
    margin-right:auto;
    height:clamp(6rem,10vh + 10vw,20rem);
    width:auto;
    margin-bottom:1rem;
}

#signup{
    padding-left: 2%;
    line-height: clamp(1.5rem,4vh,2rem);
}

#Fname{
    width:clamp(5rem,20%,25rem);
}

#Lname{
    width:clamp(5rem,20%,25rem);
}

#email{
    width:clamp(11rem,40%, 50rem);
}

#PIN{
    width:clamp(5rem,20%,25rem);
}

#Password, #PasswordConfirm{
    width:clamp(8rem,20%,25rem);
}

#PINbox{
    visibility:hidden;
    pointer-events: none;
}

#Passbox{
    visibility:hidden;
    pointer-events: none;
}

#notifications{
    visibility:hidden;
    pointer-events: none;
}
